<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <form th:action="@{/search/results}" method = "post">
    <h1>Search by:</h1>

    <p>
        <span th:each="column : ${columns}">
            <input th:if="${lastType == null}"
                    type="radio"
                    name="searchType"
                    th:id="${column.key}"
                    th:value="${column.key}"
                    th:checked="${column.key == 'all'}"/>
            <input th:unless="${lastType == null}"
                    type="radio"
                    name="searchType"
                    th:id="${column.key}"
                    th:value="${column.key}"
                    th:checked="${column.key == lastType}"/>
            <label th:for="${column.key}" th:text="${column.value}"></label>
        </span>
    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />

  <h2 th:text="${#strings.capitalizeWords(title)}"></h2>

  <div th:replace="~{fragments :: job-table-loop}"></div>

</div>

</body>
</html>
